html {
    scroll-behavior: smooth;
    margin: 0;
}

.barra-navegador {
    background-color: #222222; /* Cinza bem escuro */
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.barra-navegador ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.barra-navegador ul li {
    padding: 10px;
}

.barra-navegador ul li a {
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 18px;
}

.barra-navegador ul li a:hover {
    color: whitesmoke;
}

.pag-inicial {
    padding-top: 50px;
    position: relative;
    height: calc(75vh - 50px);
    overflow: hidden;
}

.pag-inicial video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: relative;
    z-index: 1;
    text-align: center;
    height: 100%;
}

.overlay h2 {
    margin-bottom: 20px;
}

.overlay button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 25px;
}

.overlay img {
    max-width: 25px;
    max-height: 25px;
}

.overlay a {
    text-decoration: none;
}


.servicos h2 {
    background-color: #404040;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin: 0;
    height: 3em;
}

.bt-servicos {
    background-color: #404040; /* Cinza médio para contraste */
    height: 40px;
}

.bt-servicos ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.bt-servicos ul button {
    border: none;
    font-weight: bold;
    font-size: large;
    color: white;
    background: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.bt-servicos ul button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.bt-servicos ul button:focus::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.bt-servicos ul button:focus:not(:focus-visible) ::after{
    width: 0;
    left: 50%;
    transform: translateY(-50%);
}

.card-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#404040; 
    font-weight: bold;
    font-size: large;
    color: white;
}

.card-servicos img {
    width: 175px;
    max-height: 175px;
}

.card-servicos div {
    background-color: rgb(137, 140, 143);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16%;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.img-canto {
    display: flex;
    justify-content: space-around;
    background-color: #1C1C1C;
}

.img-canto img {
    width: 175px;
    max-height: 175px;
    padding-right: 20%;
}

.texto-nos {
    font-weight: bold;
    font-size: large;
    color: white;
}

.titulo-nos {
    font-weight: bold;
    font-size: 30px;
    color: rgb(231, 229, 229);
}

.contato {
    background-color: #333333; /* Cinza neutro escuro */
    color: white;
    padding: 20px;
}

.contato img {
    width: 25px;
}

.google-maps {
    background-color: #2B2B2B;
}
