html {
    scroll-behavior: smooth;
}

.BarraNavegador {
    background-color: gray;
    height: 40px;
}

.BarraNavegador ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.BarraNavegador ul li {
    padding: 10px;
}

.BarraNavegador ul li a {
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
}

.BarraNavegador ul li a:hover {
    color: whitesmoke;
}

.pagInicio {
    position: relative;
    height: 55vh;
    overflow: hidden;
}

.pagInicio video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    height: 100%;
}

.overlay h2 {
    margin-bottom: 20px;
}

.overlay button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 25px;
}

.overlay img {
    max-width: 25px;
    max-height: 25px;
}

.overlay a {
    text-decoration: none;;
}

.listaServicos {
    background-color: blueviolet;
    height: 40px;
}

.listaServicos ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.listaServicos ul li {
    padding: 10px;
}

.CardBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.CardBox img {
    width: 175px;
    max-height: 175px;
}

.CardBox div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.imgCanto {
    display: flex;
    justify-content: space-around;
}

.imgCanto img {
    width: 175px;
    max-height: 175px;
}

.contato img {
    width: 25px;
}



