html {
    scroll-behavior: smooth;
    margin: 0;
}

.barra-navegador {
    background-color: #222222; /* Cinza bem escuro */
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.barra-navegador ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.barra-navegador ul li {
    padding: 10px;
}

.barra-navegador ul li a {
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 18px;
}

.barra-navegador ul li a:hover {
    color: whitesmoke;
}

.pag-inicial {
    padding-top: 50px;
    position: relative;
    height: calc(75vh - 50px);
    overflow: hidden;
}

.pag-inicial video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: relative;
    z-index: 1;
    text-align: center;
    height: 100%;
}

.overlay h2 {
    margin-bottom: 20px;
}

.overlay button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 25px;
}

.overlay img {
    max-width: 25px;
    max-height: 25px;
}

.overlay a {
    text-decoration: none;
}

.bt-servicos {
    background-color: #404040; /* Cinza médio para contraste */
    height: 40px;
}

.bt-servicos ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.bt-servicos ul button {
    padding: 10px;
    cursor: pointer;
}

.bt-servicos ul button:hover {
    background-color: aqua; /* Não alterado */
}

.card-servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    background-color: #2F2F2F; /* Cinza intermediário */
    padding: 20px;
}

.card-servicos img {
    width: 175px;
    max-height: 175px;
}

.card-servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.img-canto {
    display: flex;
    justify-content: space-around;
    background-color: #1C1C1C; /* Fundo para harmonizar com o tema */
}

.img-canto img {
    width: 175px;
    max-height: 175px;
}

.contato {
    background-color: #333333; /* Cinza neutro escuro */
    color: white;
    padding: 20px;
}

.contato img {
    width: 25px;
}

.googleMaps {
    background-color: #2B2B2B; /* Fundo levemente mais claro para contraste */
}
